#card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 300px;
  gap: 10px;
  padding: 20px;
  background-color: rgb(216, 216, 216);
}

input {
  width: 100%;
}
select {
  width: 100%;
}
textarea {
  width: 100%;
}
